*{
	margin-top:0px;
	padding:0;
	text-decoration: none;

	
}
Body { background-color:#ffffff;

}

#wrapper
{
	display:block;
	width:100% !important;
}

 /*709d24*/

.input{
	font-size:14px;
	font-weight:normal;
	color:#000000;
	padding:10px;
	height:12px;
	width:230px;	
	background-color:#ececec;
	border:0px;
	align-content:center;
	border-radius:4px;
}

.input1{
	font-size:14px;
	font-weight:normal;
	color:#ffffff;
	padding:9px;
	height:13px;
	width:150px;	
	background-color:#000000;
	border:0px;
	align-content:center;
	float:left;
}


.font1{
	font-family:Arial, sans-serif;
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	opacity:100;
}

.font2{
	font-family:Arial, sans-serif;
	font-size:12px;
	color:#fff;
	font-weight:normal;
	opacity:100;
	
}
.font3{
	font-family:Arial, sans-serif;
	font-size:42px;
	color:#ffffff;
	font-weight:normal;
	opacity:50;
	
}	
.btn {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #7fa745, #5e851c);
  background-image: -moz-linear-gradient(top, #7fa745, #5e851c);
  background-image: -ms-linear-gradient(top, #7fa745, #5e851c);
  background-image: -o-linear-gradient(top, #7fa745, #5e851c);
  background-image: linear-gradient(to bottom, #7fa745, #5e851c);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align:center;
}

.btn:hover {
  background: #7aa241;
  background-image: -webkit-linear-gradient(top, #49681d, #49681d);
  background-image: -moz-linear-gradient(top, #49681d, #49681d);
  background-image: -ms-linear-gradient(top, #49681d, #49681d);
  background-image: -o-linear-gradient(top, #49681d, #49681d);
  background-image: linear-gradient(to bottom, #49681d, #49681d);
  text-decoration: none;
}



.forgot {
	font-size:12px;
	color:#000000;
	font-weight:normal;
	font-family: "Arial"
}

.font6{
	font-family:Arial, sans-serif;
	font-size:24px;
	color:#ffffff;
	font-weight:bold;
	line-height:1.5em;
	margin:0 auto;
	text-align:center;
	vertical-align:middle;
	padding-top:5px;
	}
	
	
	.font5{
	font-family:Arial, sans-serif;
	font-size:18px;
	color:#333333;
	font-weight:bold;
	line-height:1.5em;
}



.p {font-family:Arial, sans-serif;
	font-size:14px;
	color:#333333;
	font-weight:normal;
	line-height:2em;
	text-align:justify;}
	

	
	.font7 {
		font-family:"Arial", sans-serif;
		font-size:11px;
		color:WHIITE;
		font-weight:normal;
		text-align:justify;
	}
	
	.font8{
	font-family:Arial, sans-serif;
	font-size:24px;
	color:#ffffff;
	font-weight:normal;
	line-height:1.5em;
	text-align:center;
	padding-top:10px;
}

	.font9{
	font-family:Arial, sans-serif;
	font-size:24px;
	color:#709d24;
	font-weight:normal;
	line-height:1.5em;
	text-align:left;
	padding-top:10px;
}



#footer {
	vertical-align:top; width:250px; height:30px;
	font-family:"Arial", sans-serif;
	font-size:16px;
	color:#ffffff;
	font-weight:bold;
	}
	
	
.line {
	height:2px;
	width:250px; 
	font-weight:bold;
	background-color:#242424;
		float:left;
	}

	.footerfont {
		font-family:"Arial", sans-serif;
		font-size:11px;
		color:#ffffff;
		font-weight:normal;
		text-align:justify;
		padding:20px;
		line-height:18px;
	}
	.menufont{
	font-size:12px;
	font-family:"Arial", sans-serif;
	font-weight:bold;
	color:#000000;
	text-align:center;
	}
	
.submitenquiry{
	font-size:12px;
	font-family:"Arial", sans-serif;
	font-weight:normal;
	color:#ffffff;
	padding:9px;
	height:12px;
	width:50px;	
	background-color:#343434;
	border:0px;
	align-content:center;
	float:left;
}

.news{
	font-size:12px;
	font-family:"Arial", sans-serif;
	font-weight:normal;
	color:#ffffff;
	padding:9px;
	height:200px;
	width:300px;	
	border:0px;
	align-content:center;
	float:left;
}

.smallheading{
	font-size:12px;
	font-family:"Arial", sans-serif;
	font-weight:bold;
	color:#78a22f;
}

.copy{
	font-size:12px;
	font-family:"Arial", sans-serif;
	font-weight:normal;
	color:#cccccc;
	padding-top:12px;
	}
		
			a { 
	color:#4e7212;
}

	
	a:hover { 
	color:#cccccc;
}

.btn1 {
  background: #000000;
  border-radius: 2px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  text-align:center;
  width:40px;
  margin:2px;
  float:left;
}

.btn1:hover {
  background: #7aa241;
  text-decoration: none;
}


	.header{
	font-family:Arial, sans-serif;
	font-size:24px;
	color:#ffffff;
	font-weight:normal;
	line-height:1.5em;
	text-align:left;
	padding:10px 10px 10px 0px;
}


.header1{
	font-family:Arial, sans-serif;
	font-size:24px;
	color:#709d24;
	font-weight:normal;
	line-height:1.5em;
	text-align:left;
	padding:10px;
	background-color:#ebebeb;
	border-top:    1px solid  #709d24;
	border-right:  0px dashed #709d24;
	border-bottom: 5px solid #709d24;
	border-left:   0px solid  #709d24;
	}
	

	
	#textarea{
		background-color:#ebebeb;
		border:0px;
		width:250px;
		height:60px;}
		
		
		
		
		/* */

body {
	font-family:  'Arial', sans-serif;

}

.menu_simple ul {
    margin: 0; 
    padding: 0;
    width:250px;
    list-style-type: none;
}

.menu_simple ul li a {
    text-decoration: none;
    color: cccccc; 
    padding: 10.5px 11px 11px 40px;
    background-color: #eeeeee;
    display:block;
}
 
.menu_simple ul li a:visited {
    color: BLACK;
}
 
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: #547819;
    background-color: #ffffff;
}
.font4{
	font-family:Arial, sans-serif;
	font-size:12px;
	color:#cccccc;
	font-weight:bold;
	line-height:1.5em;
}

.font3{
	font-family:Arial, sans-serif;
	font-size:10px;
	color:#333333;
	font-weight:bold;
	opacity:100;
	padding-right:10px;
}

.font5{
	font-family:Arial, sans-serif;
	font-size:18px;
	color:#333333;
	font-weight:bold;
	line-height:1.5em;
}


#overflow {
    overflow: hidden;
    text-overflow: clip; 
    border: 0px solid #000000;
}


/**/




.font2{
	font-family:Arial, sans-serif;
	font-size:12px;
	color:#fff;
	font-weight:normal;
	opacity:100;
	
}


.font6{
	font-family:Arial, sans-serif;
	font-size:16px;
	color:#ffffff;
	font-weight:bold;
	line-height:1.5em;
}

.p {font-family:Arial, sans-serif;
	font-size:14px;
	color:#333333;
	font-weight:normal;
	line-height:2em;
	text-align:justify;}

.line {
	height:1px; width:250px; background-color:#cccccc;
}



	.font6 {
		font-family:"Arial", sans-serif;
		font-size:12px;
		color:#142634;
		font-weight:normal;
	}
		.font7 {
		font-family:"Arial", sans-serif;
		font-size:11px;
		color:WHIITE;
		font-weight:normal;
	}
	
	

	.hoverTable{
		width:100%; 
		border-collapse:collapse; 
		font-family: verdana,arial,sans-serif;
		font-size:11px;
		color:#333333;
		border-width: 1px;
		border-color: #999999;
	}
	.hoverTable td{ 
		padding:7px; border:#4e95f4 0px solid;
		border-width: 0px;
	padding: 20px;
	border-style: solid;
	border-color: #fff;
		
	}

.hoverTable tr{
		background: #fff;
			padding: 20px;

	}
	
	
	 .hoverTable th {
         
		  background-color:#fafafa;
	border-width: 0px;
	padding: 20px;
	border-style: solid;
	border-color: #cccccc;
	color:333333;
    }

    
	.hoverTable tr:active {
          background-color: #ffff99;
    }
	

    
	.hoverTable tr:hover {
          background-color: #ffff99;
    }


	tr.clicked {
      background-color: #ffff99;
}


#hoverTable tr.selected td {
        background: none repeat scroll 0 0 #FFCF8B;
        color: #000000;
    }
	


